/* MENU */

ul.menu a {
    all: revert;
    text-decoration: none;
    color: inherit;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid transparent;
}

ul.menu, ul.menu ul {
    padding-inline-start: 0px;
    display: flex;
    font-weight: bold;
    letter-spacing: 2px;
    justify-content: space-evenly;
}

ul.menu:hover {
    cursor: pointer;
}

.menu li {
    display: inline-flex;
    height: 4vw;
    align-items: center;
    text-transform: uppercase;
    padding: 0 5px;
    font-size: 1.5vw;
    position: relative;
    justify-content: center;
    white-space: nowrap;
    flex-grow: 1;
}

.menu>li:last-child {
    border-right: none;
}

ul.menu ul {
    flex-direction: column;
}

ul.menu li ul {
    position: absolute;
    top: calc(100% - 1.2vw);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    transition-delay: 0.1s;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 6px -2px var(--color-shadow);
    color: var(--off-black);
    font-size: 1.15vw;
    background: var(--off-white);
    width: 100%;
}

ul.menu li ul li ul {
    left: calc(100% + 1px);
    top: -1px;
    border-radius: 0 5px 5px 5px;
}

ul.menu li ul li {
    font-size: 1.15vw;
    border-bottom: var(--border-gray);
    border-image: linear-gradient(90deg, transparent, var(--main-color-dark), transparent) 1;
}

ul.menu li ul li:first-child {
    box-shadow: 0px 3px 5px -3px inset var(--color-border-shadow);
}

ul.menu li ul li:hover {
    background: linear-gradient(90deg, transparent, var(--off-white) 5vw),
                var(--main-color-dark) linear-gradient(145deg, rgba(55, 65, 68, 0.35) 0, rgba(173,216,230,.25) 25%);
}

ul.menu li ul li:last-child {
    border-bottom: none;
    border-radius: 0 0 5px 5px;
}

ul.menu li ul li ul li:first-child {
    border-radius: 0 5px 0 0;
}

ul.menu li:hover > a {
    border-bottom: var(--border-gray);
    border-image: linear-gradient(90deg, transparent, var(--main-color-dark), transparent) 1;
}

ul.menu li:hover > ul, ul.menu li ul:hover {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

/* BANNER */

span#banner {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 275px;
}

#banner h1, #banner h2, #banner h3, #banner h4 {
    top: 0;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    background: none;
    border: none;
    margin: 0;
    transition: top 0.2s ease-out, left 0.3s ease-out, font-size 0.2s ease-out, opacity 0.4s ease-out;
}

#banner h2, #banner h3, #banner h4 {
    color: rgba(0,0,0,0.0);
    opacity: 1;
}

#banner h1 {
    font-size: 11em;
    opacity: 0;
}

#banner h2 {
    font-size: 12em;
    text-shadow: 0px 0px 30px lightgray;
    top: -35px;
    left: 25px;
}

#banner h3 {
    font-size: 10em;
    text-shadow: 0px 0px 16px lightgrey;
    top: 50px;
    left: -20px;
}

#banner h4 {
    font-size: 15em;
    text-shadow: 1px 1px 1px blue;

}

#banner:hover h2, #banner:hover h3, #banner:hover h4 {
    font-size: 11em;
    top: 0px;
    left: 0px;
    opacity: 0;
}

#banner:hover h1 {
    opacity: 1;
}