body {
    background: rgb(26, 26, 26);
    color: rgb(235, 235, 235);
    font-family: 'Quattrocento', serif;
    transition: background 1s linear;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quattrocento Sans', sans-serif;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    background: linear-gradient(135deg, rgba(107,107,107,0.85) 0%,rgba(0,0,0,0.0) 25%);
    padding-left: 0.2em;
    text-shadow: 2px 2px 2px #2f2f2f;
    border-radius: 5px;
}

ul {
    padding-inline-start: 30px;
}

a {
    color: rgb(173, 216, 230);
    transition: color 0.25s linear;
}

a:hover {
    color: rgb(136, 169, 180);
}

hr {
    background: linear-gradient(135deg, rgb(107,107,107) 0%,rgb(77,77,77) 25%);
    border: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid #333;
    height: 2px;
}

table {
    border-collapse: collapse;
}

thead, tfoot {
    font-variant: all-small-caps;
    font-size: larger;
    text-shadow: 2px 2px 2px #2f2f2f;
    background: linear-gradient(135deg, rgb(107,107,107) 0%,rgb(77,77,77) 25%);
}

thead {
    vertical-align: top;
}

thead th, tfoot th {
    padding: 5px 5px;
    transition: color 0.25s linear;
}

thead th:hover, tfoot th:hover {
    color: rgb(136, 169, 180);
}

thead th:first-child {
    border-radius: 10px 0 0 0;
}

thead th:last-child {
    border-radius: 0 10px 0 0;
}

tfoot th:first-child {
    border-radius: 0 0 0 10px;
}

tfoot th:last-child {
    border-radius: 0 0 10px 0;
}

tbody tr {
    background: rgb(127,127,127);
    transition: background 0.25s linear;
}

tbody tr:first-child {
    box-shadow: inset 0px 5px 8px -5px black;
}

tbody tr:last-child {
    box-shadow: inset 0px -5px 8px -5px black
}

tbody tr:nth-child(odd) {
    background: rgb(107,107,107);
}

tbody td {
    padding: 5px;
}

tbody tr:hover {
    background: rgb(136, 169, 180);
}

input, textarea {
    background: linear-gradient(135deg, rgba(77,77,77,0.85) 75%, rgba(107,107,107,0.85) 100%);
    color: #dadada;
    box-shadow: inset 2px 2px 2px black;
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    padding: 4px 8px;
}

input[type="submit"], input[type="button"], input[type="reset"], button {
    background: linear-gradient(135deg, rgba(107,107,107,0.85) 0%,rgba(77,77,77,0.85) 25%);
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    padding: 3px 6px;
    box-shadow: 2px 2px 2px black;
    color: #dadada;
    text-shadow: 2px 2px 2px #2f2f2f;
    transition: color 0.25s linear;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover {
    color: rgb(136, 169, 180);
}

input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active, button:active {
    background: linear-gradient(135deg, rgba(77,77,77,0.85) 75%, rgba(107,107,107,0.85) 100%);
    box-shadow: inset 2px 2px 2px black;
}

input[type="submit"]:disabled, button:disabled {
    color: #868686;
    background: rgba(77,77,77,0.85);
    box-shadow: none;
    text-shadow: none;
}

input:focus, button:focus {
    outline-style: none;
    border-color: rgb(136, 169, 180);
}

fieldset {
    border-radius: 5px;
    border: 1px solid #4e4e4e;
    background: linear-gradient(135deg, rgba(107,107,107,0.85) 0%,rgba(0,0,0,0.0) 15%);
    font-variant: small-caps;
    font-size: larger;
    text-shadow: 2px 2px 2px #2f2f2f;
    box-shadow: 0px 2px 5px black;
}

form label {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

ul.menu, ul.menu ul {
    background: rgb(77,77,77);
    background: linear-gradient(135deg, rgb(107,107,107) 0%,rgb(77,77,77) 25%);
    padding-inline-start: 0px;
    display: flex;
    border-radius: 5px;
    width: fit-content;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu li {
    display: inline-flex;
    min-height: 45px;
    align-items: center;
    text-transform: uppercase;
    padding: 0 5px;
    text-shadow: 2px 2px 2px #2f2f2f;
    font-size: 1em;
    position: relative;
    border-top: 1px solid gray;
    border-right: 1px solid #333;
    border-left: 1px solid gray;
    border-bottom: 1px solid #333;
    width: 100px;
    justify-content: center;
}

.menu>li:first-child {
    border-radius: 5px 0 0 5px;
}

.menu>li:last-child {
    border-radius: 0 5px 5px 0;
}

.menu li ul li:last-child {
    border-radius: 0 0 5px 5px;
}

ul.menu ul {
    flex-direction: column;
}

ul.menu li ul {
    position: absolute;
    top: 46px;
    left: -1px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    transition-delay: 0.1s;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 1px 3px rgb(26, 26, 26);
    color: rgb(235, 235, 235);
    font-size: 0.85em;
}

ul.menu li ul li ul {
    left: 111px;
    top: -1px;
    font-size: 0.65em;
    border-radius: 0 5px 5px 5px;
}

ul.menu li ul li {
    min-height: 30px;
}

ul.menu li ul li ul li {
    min-height: 22px;
}

ul.menu li ul li ul li:first-child {
    border-radius: 0 5px 0 0;
}

ul.menu li:hover {
    background: linear-gradient(135deg, rgba(0,0,0,0.0) 75%, rgba(107,107,107,0.85) 100%);
    color: lightblue;
}

ul.menu>li:first-child:hover {
    border-radius: 5px 0 0 0;
}

ul.menu>li:last-child:hover {
    border-radius: 0 5px 0 0;
}

ul.menu>li>ul>li:last-child:hover {
    border-radius: 0 0 0 5px;
}

ul.menu li:hover > ul, ul.menu li ul:hover {
    visibility: visible;
    opacity: 1;
}

/* Banner */

span#banner {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 275px;
}

#banner h1, #banner h2, #banner h3, #banner h4 {
    top: 0;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    background: none;
    border: none;
    margin: 0;
    transition: top 0.2s ease-out, left 0.3s ease-out, font-size 0.2s ease-out, opacity 0.4s ease-out;
}

#banner h2, #banner h3, #banner h4 {
    color: rgba(0,0,0,0.0);
    opacity: 1;
}

#banner h1 {
    font-size: 11em;
    opacity: 0;
}

#banner h2 {
    font-size: 12em;
    text-shadow: 0px 0px 30px lightgray;
    top: -35px;
    left: 25px;
}

#banner h3 {
    font-size: 10em;
    text-shadow: 0px 0px 16px lightgrey;
    top: 50px;
    left: -20px;
}

#banner h4 {
    font-size: 15em;
    text-shadow: 1px 1px 1px blue;

}

#banner:hover h2, #banner:hover h3, #banner:hover h4 {
    font-size: 11em;
    top: 0px;
    left: 0px;
    opacity: 0;
}

#banner:hover h1 {
    opacity: 1;
}