{{ define "main" }}
<div id="content">
    <div class="article-stub" style="--bg-image: url('Splash__Soma_Collapse_by_neutrix.png');">
        <div class="title">
            <h2><a href="#">This is a damn title</a></h2>
            <h3>Hot damn, a subtitle</h3>
        </div>
        <div class="meta">
            <p>Posted on <em>1/1/2021</em> under <em><a href="#">Fake News</a></em></p>
            <p><em>Part one</em> of the <em><a href="#">Testing</a></em> series</p>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non metus commodo, semper ante ut, venenatis mi. <a href="#">Hey, a link.</a> Quisque vel euismod risus, sed condimentum erat. Aenean consequat dolor ultricies congue facilisis. Pellentesque tempor lectus ac posuere sollicitudin. Morbi in pretium arcu. Phasellus sollicitudin volutpat porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus sed ligula metus. Nam efficitur risus quam, ac rhoncus quam posuere ut.</p>

            <p>Nunc urna neque, porta et sollicitudin vel, faucibus non diam. Sed eu urna mollis risus mattis faucibus. Curabitur eget interdum ipsum. Quisque lorem purus, sodales ut porttitor luctus, viverra eget urna. Aenean nulla neque, posuere id malesuada eget, gravida quis leo. Fusce volutpat metus sit amet tortor molestie congue. Fusce placerat risus et ultricies feugiat. Nullam semper eleifend nisl id euismod. Vivamus risus lacus, varius in tristique quis, vulputate sit amet tortor. Quisque enim nisi, consequat maximus nunc faucibus, gravida sodales urna. Sed vulputate augue enim, eu convallis ante placerat eu. Duis posuere posuere nibh eget aliquam. Duis sodales facilisis vehicula. Fusce sagittis dui non risus facilisis, et porttitor justo mollis. Nam accumsan, ex eu pulvinar dignissim, odio risus malesuada nisl, quis dictum velit purus at tellus. Vestibulum porta at velit at ornare.</p>
        </div>
        <div class="tags">
            <ul>
                <li>Fake</li>
                <li>Test</li>
                <li>Thing</li>
            </ul>
        </div>
    </div>

    <div class="article-stub" style="--bg-image: url('one_frosty_morning_by_nemesis158-d32hudj.jpg');">
        <div class="title">
            <h2>Holy Shit It's Another Title</h2>
        </div>
        <p class="meta">Some meta information</p>
        <div class="content">
            <p>Cras pharetra tortor purus, in lacinia mi sollicitudin non. Integer at ex at eros mollis volutpat eget id mi. Nunc neque sapien, egestas et varius vel, fringilla a est. Aenean luctus posuere lorem, cursus blandit diam ultricies eu. Praesent id mi eget tellus convallis placerat. In venenatis et massa vitae aliquet. Vestibulum lacinia dui ut lorem lobortis imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean egestas libero vitae odio venenatis fermentum. Sed laoreet mi lacinia quam finibus faucibus. Donec vel libero convallis, vulputate odio id, accumsan odio. Aenean sed lorem eu risus laoreet dignissim id sit amet arcu. Quisque eleifend nisl ut turpis tincidunt, vel varius eros mollis. Etiam facilisis, massa a molestie suscipit, nulla lacus consequat mauris, elementum porttitor ante sapien vitae odio.</p>
        </div>
    </div>

    <div class="article-stub" style="--bg-image: url('2560X1600 BOKEH.jpg');">
        <div class="title">
            <h2>What Will We Do With So Many Titles?</h2>
        </div>
        <p class="meta">Some meta information</p>
        <div class="content">
            <p>Sed ac pharetra nibh. Cras eget ipsum a nibh malesuada sagittis. Curabitur sed neque fermentum justo fermentum scelerisque nec vel neque. Duis tortor justo, hendrerit et ullamcorper eu, ultricies quis risus. Fusce a congue nulla, vitae gravida metus. Fusce sed orci commodo, aliquet dui in, egestas sem. Sed sed lorem at nisl egestas faucibus ac non neque. Nulla vel massa euismod, varius lacus in, euismod orci. Morbi quis urna non arcu vehicula suscipit quis quis nulla.</p>

            <p>Mauris consectetur pretium eros. Mauris a nisi nec ante auctor suscipit nec id nunc. Ut consectetur urna ut sapien accumsan faucibus. Aliquam sed faucibus neque. Pellentesque ipsum leo, rhoncus ut suscipit quis, condimentum at lectus. Curabitur quam ipsum, vulputate et aliquam sed, tempus nec erat. Ut vulputate ex vitae lectus facilisis, vitae ultricies lacus hendrerit. Morbi accumsan sed felis id ullamcorper. Integer semper nisi quis orci aliquam sodales. Nulla facilisi. Mauris sed ante mauris.</p>
        </div>
    </div>  
</div>

<div id="pagenav">
    <div class="navlinks">
        <ul>
            <li>Previous</li>
            <li>Next</li>
        </ul>
    </div>
</div>
{{ end }}