{{ $url := false }}
{{ $imageURL := printf "images/%s" ( .context.Params.background | default "default.jpg" ) }}



{{ with resources.Get $imageURL }}
    {{ if eq $.style "small" }}
        {{ $url = (.Resize "800x webp").RelPermalink }}
    {{ end }}
    {{ if eq $.style "pixel" }}
        {{ $url = ((.Resize "1000x webp q100").Filter (images.Pixelate 5)).RelPermalink }}
    {{ end }}
    {{ if eq $.style "blur" }}
        {{ $url = ((.Resize "1000x webp q80").Filter (images.GaussianBlur 3)).RelPermalink }}
    {{ end }}
{{ end }}


{{ return $url }}