<head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">

    {{ partial "meta.html" (dict "feature" . "ctx" $) }}
    <link href="https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans|Nothing+You+Could+Do|Vollkorn+SC|Cormorant&display=swap" rel="stylesheet">
    {{ $options := (dict "outputStyle" "compressed") }}
    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $style := $sass | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
</head>