<div id="header">
    <h2 id="subtitle">yadda yadda yadda</h2>
    <h1>C M Rasys</h1>
</div>
<nav id="main-nav">
    <ul class="menu">

        {{ range .Site.Menus.main }}
            {{ $text := print .Name | safeHTML }}
            <li><a href="{{ .URL }}">{{ $text }}</a>

            {{ if .HasChildren }}
                <ul>
                {{ range .Children }}
                    <li><a href="{{ .URL }}">{{ $text }}</a></li>
                {{ end }}
                </ul>
            {{ end }}
            </li>
        {{ end }}

    </ul>
</nav>