{{ $title := print .ctx.Site.Title " | " .ctx.Title }}
{{ if .IsHome }}{{ $title = .ctx.Site.Title }}{{ end }}
<title itemprop="name">{{ $title }}</title>
<meta property="og:title" content="{{ $title }}" />
<meta name="twitter:title" content="{{ $title }}" />
<meta itemprop="name" content="{{ $title }}" />
<meta name="application-name" content="{{ $title }}" />
<meta property="og:site_name" content="{{ .ctx.Site.Params.sitename }}" />

<meta name="description" content="{{ .ctx.Site.Params.description }}" />
<meta itemprop="description" content="{{ .ctx.Site.Params.description }}" />
<meta property="og:description" content="{{ .ctx.Site.Params.description }}" />
<meta name="twitter:description" content="{{ .ctx.Site.Params.description }}" />

<base href="{{ .ctx.Permalink }}" />
<link rel="canonical" href="{{ .ctx.Permalink }}" itemprop="url" />

<meta name="url" content="{{ .ctx.Permalink }}" />
<meta name="twitter:url" content="{{ .ctx.Permalink }}" />
<meta property="og:url" content="{{ .ctx.Permalink }}" />

<meta property="og:locale" content="{{ .ctx.Language.Lang }}" />
<meta name="language" content="{{ .ctx.Language.LanguageName }}" />

<meta property="og:updated_time" content={{ .ctx.Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

<link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />

{{ with .ctx.OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $title }}" />
{{ end }}

{{ if or (eq .ctx.Section "writings") (eq .ctx.Section "programming") (eq .ctx.Section "posts") }}
    <meta property="og:type" content="article" />
    <meta property="article:publisher" content="{{ .ctx.Site.Params.facebook }}" />
    <meta property="og:article:published_time" content={{ .ctx.Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
    <meta property="article:published_time" content={{ .ctx.Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

    {{ with .ctx.Site.Params.author }}
        <meta property="og:article:author" content="{{humanize . }}" />
        <meta property="article:author" content="{{humanize . }}" />
        <meta name="author" content="{{humanize . }}" />
    {{ end }}

    {{ if or (.ctx.Params.Keywords) (.ctx.Params.Tags) (.ctx.Params.Categories) }}
        {{ $all_tags := union .ctx.Params.Keywords .ctx.Params.Tags | union .ctx.Params.Categories }}
        <meta name="keywords" content="{{ delimit $all_tags ", " }}">
        <meta name="news_keywords" content="{{ delimit $all_tags ", " }}" />
    {{ end }}

    {{ with .ctx.Params.categories }}
        <meta property="article:section" content="{{ index . 0 }}" />
    {{ end }}

    <script defer type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Article",
          "headline": {{ .ctx.Title }},
          "author": {
            "@type": "Person",
            "name": "{{ .ctx.Site.Params.github }}"
          },
          "datePublished": "{{ .ctx.Date.Format "2006-01-02" }}",
          "description": {{ .ctx.Description }},
          "wordCount": {{ .ctx.WordCount }},
          "mainEntityOfPage": "True",
          "dateModified": "{{ .ctx.Lastmod.Format "2006-01-02" }}",
          "image": {
            "@type": "imageObject",
            "url": "{{ with .ctx.Params.image }}{{ .ctx.Permalink }}{{ end }}"
          },
          "publisher": {
            "@type": "Organization",
            "name": "{{ .ctx.Site.Title }}",
            "logo": {
              "@type": "imageObject",
              "url": "https://www.example.com/images/brand/favicon.png"
            }
          }
        }
    </script>
{{ end }}

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<meta name="twitter:site" content="{{ .ctx.Site.Params.twitter }}" />
<meta name="twitter:creator" content="{{ .ctx.Site.Params.twitter }}" />
{{/*  <meta property="fb:app_id" content="538089519640705" />
<meta property="fb:admins" content="100000686899395" />  */}}

{{/*  <link rel="manifest" href='{{ "manifest.json" | absURL }}' />
<meta name="theme-color" content="#141414" />
<meta name="apple-mobile-web-app-title" content="{{ .ctx.Site.Params.sitename }}" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">  */}}
