{{ $image := resources.GetMatch (.Get "src") }}

{{/* Generate Thumbnail */}}
{{ with $image }}
    <figure class="{{ $.Get "float" | default "" }}">
        <a href="{{ .RelPermalink }}">
            <img 
                
                srcset="
                    {{ range (slice
                        (.Resize "800x q90 webp")
                        (.Resize "600x q90 webp") 
                        (.Resize "500x q90 webp")
                        (.Resize "400x q90 webp")
                        (.Resize "300x q90 webp")
                        (.Resize "200x q90 webp")
                    ) }}
                    {{ .RelPermalink }} {{ .Width }}w,
                    {{ end }}
                "
                sizes="
                    (max-width: 650px) 40vw,
                    (max-width: 1024px) 30vw,
                    (min-width: 1024px) 35vw
                "
            />
        </a>
        <figcaption>{{ $.Get "caption" }}</figcaption>
    </figure>

{{ end }}
