{{ $image := resources.GetMatch (.Get "src") }}

{{/* Generate Thumbnail */}}
{{ with $image }}
    {{ if ge .Width .Height }}
        {{ if ge .Width "600" }}
            {{ $.Scratch.Set "thumbnail" (.Resize "600x q90") }}
        {{ else}}
            {{ $.Scratch.Set "thumbnail" . }}
        {{ end }}
        {{ else }}
            {{ if ge .Height "450" }}
                {{ $.Scratch.Set "thumbnail" (.Resize "x450 q90") }}
            {{ else }}
                {{ $.Scratch.Set "thumbnail" . }}
        {{ end }}
    {{ end }}

    <figure style="float: {{ $.Get "float" | default "none" }}">
        <img src="{{ ($.Scratch.Get "thumbnail").RelPermalink }}"/>
        <figcaption>{{ $.Get "caption" }}</figcaption>
    </figure>

{{ end }}
