@import "tables.css";
@import "forms.css";
@import "gui.css";

:root {
    --muted-text: rgba(26, 26, 26, 0.45);

    --main-color-light: rgb(173, 216, 230);
    --main-color-dark: rgb(99 124 132);
    --color-shadow: rgba(0, 0, 0, 0.75);
    --color-light-gray: rgb(107, 107, 107);
    --color-dark-gray: rgb(77, 77, 77);
    --color-border-light: rgb(130, 130, 130);
    --color-border-shadow: rgb(51, 51, 51);
    --off-black: rgb(26, 26, 26);
    --off-white: rgb(235, 235, 235);
    --standard-shadow: 2px 2px 2px var(--color-shadow);
    --inset-shadow: inset 2px 2px 2px var(--color-shadow);
    --angle-fade-to-black: linear-gradient(135deg, var(--color-light-gray) 0%,rgb(0,0,0) 25%);
    --angle-fade-to-gray: linear-gradient(135deg, var(--color-light-gray) 0%,var(--color-dark-gray) 25%);
    --angle-fade-to-trans: linear-gradient(135deg, var(--color-light-gray) 0%,rgba(0,0,0,0) 25%);
    --border-gray: 1px solid var(--color-dark-gray);
    --border-shadow: 1px solid var(--color-border-shadow);
    --border-light: 1px solid var(--color-border-light);
    --bg-image: none;
}

body {
    background: var(--off-white);
    color: var(--off-black);
    font-family: 'Quattrocento', serif;
    margin: 0;
    transition: background 1s linear;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quattrocento Sans', sans-serif;
    letter-spacing: 0.05em;
    font-variant: small-caps;
}

ul {
    padding-inline-start: 30px;
}

a {
    color: inherit;
    transition: all 0.25s linear;
}

a:hover {
    font-weight: bold;
    box-shadow: 0 0 3px var(--color-shadow);
    border-radius: 3px;
    text-decoration: none;
    background: var(--off-white);
    padding: 0 3px;
}

h2 a {
    text-decoration: none;
}

h2 a:hover {
    box-shadow: inherit;
    padding: inherit;
    background: inherit;
}

hr {
    background: var(--angle-fade-to-gray);
    border: none;
    border-top: var(--border-light);
    border-bottom: var(--border-shadow);
    height: 2px;
}

#container {
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 18vw auto;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        ". main sidebar"
        ". pagenav sidebar"
        "footer footer footer";
}

@media only screen and (max-width: 1000px) {
    #container {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "header header"
            "nav nav"
            "main sidebar"
            "pagenav sidebar"
            "footer footer";
    }    
}

@media only screen and (max-width: 800px) {
    #container {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "pagenav"
            "sidebar"
            "footer";
    }    
}

#main-nav {
    grid-area: nav;
    margin: 3px 3px 10px 3px;
    background: var(--off-white);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 4px -4px var(--color-shadow);
}

#header {
    grid-area: header;
    display: grid;
    grid-template-rows: 15vw 3vw;
    grid-template-areas: 
        "title"
        "subtitle";
    justify-items: center;
    align-items: center;
}

#header h1 {
    grid-area: title;
    font-size: max(40pt, 15vw);
    text-transform: uppercase;
    letter-spacing: 1.15vw;
    background: none;
    margin: 0;
    padding: 0;
    transform: rotate(-2deg);
    transition: transform 1s ease-out;
    text-shadow: 2px 2px 3px var(--color-shadow);
}

#header h1:hover {
    transition: transform 1s ease-out;
    transform: rotate(1deg);
}

#header #subtitle {
    margin: 0;
    font-style: italic;
    grid-area: subtitle;
    font-size: max(10pt, 2vw);
    color: var(--muted-text);
}

#content, #sidebar {
    margin: 3px;
}

#content .article-stub {
    display: grid;
    grid-template-rows: 10vw max(30px, 3vw) auto max(30px, 3vw);
    grid-template-areas: 
        "title"
        "meta"
        "content"
        "tags";
    box-shadow: 0 1px 10px -2px var(--color-border-shadow);
    border-radius: 5px;
    background-color: var(--main-color-dark);
    background-image: linear-gradient(transparent, var(--off-white) 15vw, var(--off-white)),
                    linear-gradient(145deg, rgba(55, 65, 68, 0.35) 0, rgba(173,216,230,.25) 25%),
                    var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    min-width: 250px;
    margin-bottom: 15px;
    padding: 10px 10px 5px 10px;
    transition: box-shadow 0.15s linear;
}

#content .article-stub:hover {
    box-shadow: 0 1px 7px 1px var(--color-border-shadow);
}

#content .article-stub .title {
    grid-area: title;
    color: var(--off-white);
    border-radius: 0;
    align-self: start;
}

#content .article-stub .title h2,h3 {
    font-size: max(14pt, 4vw);
    margin: 0;
    mix-blend-mode: luminosity;
    text-shadow: 1px 1px 3px var(--color-shadow);
    background: none;
}

#content .article-stub .title h3 {
    font-size: max(10pt, 2vw);
    margin-left: 2vw;
    font-style: italic;
}

#content .article-stub .meta {
    grid-area: meta;
    margin: 0;
    font-style: italic;
    font-size: max(8pt, 1.2vw);
}

#content .article-stub .meta p {
    margin: 0;
}

#content .article-stub .meta p em {
    font-weight: bold;
    text-shadow: 0 0 2px var(--main-color-dark);
}

#content .article-stub .content {
    grid-area: content;
    border-top: var(--border-gray);
    border-bottom: var(--border-gray);
    border-image: linear-gradient(90deg, transparent, var(--main-color-dark), transparent) 1;
    margin-top: 5px;
    padding-top: 5px;
}

#content .article-stub .tags {
    grid-area: tags;
    align-self: center;
}

#content .article-stub .tags ul {
    padding-inline-start: 0;
    margin: 0;
    margin-top: 5px;
    display: flex;
}

#content .article-stub .tags li {
    display: inline-flex;
    padding: 2px 8px;
    color: var(--muted-text);
    cursor: pointer;
    margin: 0 5px;
}

#content .article-stub .tags li:hover {
    font-weight: bold;
    background: var(--off-white);
    box-shadow: 0 0 3px var(--color-shadow);
    color: var(--off-black);
    border-radius: 3px;
}

#content .article-stub .tags li a {
    text-decoration: none;
}

#content .article-stub .tags li a:hover {
    text-decoration: none;
    box-shadow: none;
    background: none;
    padding: 0;
}

#content .article-stub .content p:first-of-type::first-letter {
    font-size: 6vw;
    float: left;
    margin-top: -2vw;
    margin-bottom: -1.3vw;
    margin-right: 10px;
    font-weight: bold;
    color: var(--main-color-dark);
    text-shadow: 0px 3px 3px var(--color-shadow);
}

#content {
    grid-area: main;
    display: flex;
    flex-flow: column;
}

#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-flow: column;
    height: fit-content;
    position: sticky;
    top: 5vw;
}

#sidebar div.side-item {
    display: grid;
    grid-template-rows: 4vw auto;
    grid-template-areas: 
        "title"
        "content";
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background: linear-gradient(transparent, var(--off-white) 5vw),
        var(--main-color-dark) linear-gradient(145deg, rgba(55, 65, 68, 0.35) 0, rgba(173,216,230,.25) 25%);
    box-shadow: 0 1px 10px -2px var(--color-border-shadow);
}

#sidebar div.side-item h3 {
    grid-area: title;
    font-size: 2.5vw;
    align-self: start;
    justify-self: center;
    border-bottom: var(--border-gray);
    border-image: linear-gradient(90deg, transparent, var(--main-color-dark), transparent) 1;
    color: var(--off-white);
}

#sidebar div.side-item .content {
    grid-area: content;
}

#pagenav {
    grid-area: pagenav;

    box-shadow: 0 1px 10px -2px var(--color-border-shadow);
    border-radius: 5px;
    background-color: var(--main-color-light);

    /* min-width: 250px; */
    /* margin-bottom: 15px; */
    padding: 10px 5px;
    transition: box-shadow 0.15s linear;

    background-image: linear-gradient(transparent, var(--off-white) 15vw, var(--off-white)),
                    linear-gradient(145deg, rgba(55, 65, 68, 0.35) 0, rgba(173,216,230,.25) 25%)
}

#pagenav .navlinks ul {
    padding-inline-start: 0;
    margin: 0;
    /* margin-top: 5px; */
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

#pagenav .navlinks li {
    display: inline-flex;
    padding: 2px 8px;
    color: var(--muted-text);
    cursor: pointer;
    margin: 0 5px;
}

#pagenav .navlinks li:hover {
    font-weight: bold;
    background: var(--off-white);
    box-shadow: 0 0 3px var(--color-shadow);
    color: var(--off-black);
    border-radius: 3px;
}

#footer {
    grid-area: footer;
    display: grid;
    grid-template-rows: 3vw 3vw;
    grid-template-areas: 
        "copyright"
        "misc";
    justify-items: center;
    align-items: center;
    font-size: max(9pt, 1.1vw);
    font-style: italic;
    color: var(--muted-text);
}

#footer p {
    grid-area: misc;
    margin: 0;
}

#footer p.copyright {
    grid-area: copyright;
}