<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
    {{- partial "head.html" . -}}
    {{- partial "ga.html" . -}}
    <body>
        {{ $bgimage := partial "bgimage.html" . }}
        <div id="container" class="{{ .Params.displayClass | default "multiple" }}" style="--bg-image: url('{{ $bgimage }}');">
            {{- partial "header.html" . -}}
            <div id="content">
            {{- block "main" . }}{{- end }}
            </div>
            {{ if .IsPage }}
                <div class="comments">
                    {{ template "_internal/disqus.html" . }}
                </div>
            {{ end }}
            {{- partial "sidebar.html" . -}}
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
