<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
    {{- partial "head.html" . -}}
    <body>
        <div id="container" class="{{ .Params.displayClass | default "multiple" }}">
            {{- partial "header.html" . -}}
            <div id="content">
            {{- block "main" . }}{{- end }}
                <div id="pagenav">
                    <div class="navlinks">
                        <ul>
                            <li><a href="#">Previous</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{- partial "sidebar.html" . -}}
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
