{{ define "main" }}
  {{ if .Parent.IsHome }}
    {{ partial "post_top.html" . }}
    <p>{{ .Content }}</p>
    {{ $taxonomy := (lower .Title) }}
    {{ range $term, $weightedPages := index site.Taxonomies $taxonomy }}
      {{ $termPage := site.GetPage (printf "%s/%s" $taxonomy $term) }}
      <h2>
        <a href="{{ $termPage.RelPermalink }}">{{ $termPage.LinkTitle }}</a>
      </h2>
      <ul>
        {{ range $weightedPages }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
    {{ partial "post_bot.html" . }}
  {{ else }}
    <h1 class="list-header">{{ .Title }}</h1>
    {{ $paginator := .Paginate  .Data.Pages.ByTitle }}
    {{ range $paginator.Pages }}
        {{ partial "stub.html" . }}
    {{ end }}
    {{ if gt $paginator.TotalPages 1 }}
        <div id="pagenav">
            <div class="navlinks">
                {{ template "_internal/pagination.html" . }}
            </div>
        </div>
    {{ end }}
  {{ end }}
{{ end }}