name: Hugo

on: 
  push:
    branches:
      - 'staging'

jobs:
  staging-build:
    runs-on: ubuntu-latest
    environment: 
      name: Staging
      url: https://staging.cmrasys.com

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: 'latest'
        extended: true
        
    - name: Build Hugo Site
      run: hugo -s hugo/ --minify --environment staging

    - name: FTP Upload
      uses: SamKirkland/FTP-Deploy-Action@v4.3.6
      with:
        server: ftp.cmrasys.com
        server-dir: cmrasys-staging/
        username: cmrasys
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./hugo/public/
        protocol: ftp
