name: Validation

on: [push]

jobs:
    linters:
        name: Linters
        runs-on: ubuntu-latest
    
        steps:
          - uses: actions/setup-node@v6
          - uses: actions/checkout@v5
          - run: npm install stylelint postcss stylelint-config-standard-scss -D
          - name: Stylelint
            uses: reviewdog/action-stylelint@v1
            with:
              reporter: github-check
              stylelint_input: "hugo/assets/sass/*.scss"