name: Validation

on:
  push:
  pull_request:

jobs:
    linters:
        name: Linters
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v5
          - name: Setup Node.js
            uses: actions/setup-node@v6
            with:
              node-version: '18'
          - name: Cache NPM
            uses: actions/cache@v4
            with:
              path: ~/.npm
              key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
              restore-keys: |
                ${{ runner.os }}-npm-
          - name: Install stylelint deps
            run: npm install stylelint postcss stylelint-config-standard-scss -D --no-audit --no-fund
          - name: Stylelint
            uses: reviewdog/action-stylelint@v1
            with:
              reporter: github-check
              stylelint_input: "hugo/assets/sass/*.scss"